---
layout: default
title: Amelia Tarren!
---
<div class="blurb">
	<h1>Amelia Tarren</h1>
	
	<p> Welcome!</p>
	
	<p> Mostly my motivations center around developing innovative solutions to complex systems research which employ technical and logic based skillsets; these are systems from which emergent properties arise from nonlinear localized dynamics. My academic foundations and experience are underpinned by a comittment to teamwork and diversity in work settings. I've worked in physics, environmental engineering and research management sectors for the past six years. Also, I enjoy looking for excuses to problem solve both in pure and applied mathematics as well as the occasional geometrically demanding rock climbing crux. <em> All Wonderful Things. </em> Creativty and out of the box thinking are certainly "food groups" throughout my days.</p>
	
	<p><a href="/about">Please feel welcome to read more about my background, click here...</a></p>
{% include image.html url="/images/Amelia.jpg" description="Climbing areas throughout the world, including Mallorca, Spain (pictured) as well as my backyard in Burlington, VT are both amongst my favorite outdoor places!" %}
	{% include image.html url="/images/logo.png" description="" %}
</div><!-- /.blurb -->
